
@{
    ViewBag.Title = "Cards";
}

<html>
<head>
    <title>Meditation a Sports Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Meditation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <!-- Custom Theme files -->
    <!--webfont-->
    <script src="~/js/cards/toucheffects.js"></script>
    <script type="text/javascript" src="~/js/cards/jquery-1.11.1.min.js"></script>
    <!--//requred-js-files-->

    <link rel="stylesheet" type="text/css" href="~/css/card_style.css" />
    <script src="~/js/cards/modernizr.custom.js"></script>


</head>

<body>
    

        <div class="hover-grid">
            <div class="container">
                <h3>Learning Meditation</h3>
                <ul class="grid cs-style-4">
                    <li>
                        <figure>
                            <div><img src="~/images/images.jpg" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem Ipsum</h3>
                                <span>Jacob Cummings</span>
                                <a href="about.html">Read More</a>
                            </figcaption>
                        </figure>
                    </li>

                    <li>
                        <figure>
                            <div><img src="~/images/images.jpg" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem Ipsum</h3>
                                <span>Jacob Cummings</span>
                                <a href="about.html">Read More</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div><img src="~/images/images.jpg" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem Ipsum</h3>
                                <span>Jacob Cummings</span>
                                <a href="about.html">Read More</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div><img src="~/images/images.jpg" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem Ipsum</h3>
                                <span>Jacob Cummings</span>
                                <p>Jacob Cummings</p>
                                <p>Jacob Cummings</p>
                                <p>Jacob Cummings</p>
                                <p>Jacob Cummings</p>
                               
                                <a href="about.html">Read More</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <div><img src="~/images/images.jpg" alt="img04"></div>
                            <figcaption>
                                <h3>Lorem Ipsum</h3>
                                <span>Jacob Cummings</span>
                                <a href="about.html">Read More</a>
                            </figcaption>
                        </figure>
                    </li>
                  

                </ul>
            </div>
        </div>
    </div>
</body>

</html>

