@{
    ViewBag.Title = "History";
}

<body style="background-color:ghostwhite;">
    <h2 style="font-family:'Century Gothic';color:dodgerblue;"><b>@Model.Title</b></h2>


    <div class="paragraphs">
        <div class="row">
            <div class="span4">
                <img style="float:right" src="@Url.Content(Model.Image)"/>
                    <div class="p--oversized padding-b25">
                    <p style="font-family:'Arial,sans-serif';font-size:larger;">@Model.Description </p>
                </div>
            </div>
        </div>
    </div>    
</body>