
@{
    ViewBag.Title = "OurTeam";
}
<link href="~/css/team.css" rel="stylesheet" />
<link href="~/css/tron-ui.min.css" rel="stylesheet" />
<h2>OurTeam</h2>
<section class="container">
    <!-- Block Header -->
    <div class="page-header text-center">
        <h2>Board of Directors <small>People who take decisions</small></h2>
    </div><!-- Block Header End -->
    <!-- Content -->
    <div class="row space-top">
        <div class="col-sm-4">
            <div class="thumbnail with-caption">
                <img src="~/images/doe.jpg" alt="Johnathan Doe">
                <div class="caption">
                    <h4>Johnathan Doe</h4>
                    <span class="text-muted">Co-Founder, CEO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores mollitia magnam quae.</p>
                    <div class="social-buttons">
                        <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-btn sb-google-plus sb-sm"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail with-caption">
                <img src="~/images/davis.jpg" alt="Susanna Davis">
                <div class="caption">
                    <h4>Susanna Davis</h4>
                    <span class="text-muted">Co-Founder, COO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores mollitia magnam quae.</p>
                    <div class="social-buttons">
                        <a href="#" class="social-btn sb-skype sb-sm"><i class="fa fa-skype"></i></a>
                        <a href="#" class="social-btn sb-email sb-sm"><i class="fa fa-envelope"></i></a>
                        <a href="#" class="social-btn sb-linkedin sb-sm"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail with-caption">
                <img src="~/images/smith.jpg" alt="William Smith">
                <div class="caption">
                    <h4>William Smith</h4>
                    <span class="text-muted">Co-Founder, COO</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores mollitia magnam quae.</p>
                    <div class="social-buttons">
                        <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-btn sb-foursquare sb-sm"><i class="fa fa-foursquare"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Block Header -->
    <div class="page-header text-center">
        <h2>Managers of Departments<small>People who rule the company</small></h2>
    </div><!-- Block Header End -->
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="team-member">
                <img class="thumb img-circle" src="~/images/lewis.jpg" alt="James Lewis">
                <h4>James Lewis</h4>
                <span class="text-muted">Financial Director</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="social-buttons">
                    <a href="#" class="social-btn sb-linkedin sb-sm"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-btn sb-email sb-sm"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="team-member">
                <img class="thumb img-circle" src="~/images/williams.jpg" alt="Angela Williams">
                <h4>Angela Williams</h4>
                <span class="text-muted">Marketing Director</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="social-buttons">
                    <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-btn sb-google-plus sb-sm"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-btn sb-instagram sb-sm"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="team-member">
                <img class="thumb img-circle" src="~/images/jones.jpg" alt="Edward Jones">
                <h4>Edward Jones</h4>
                <span class="text-muted">Chief Engineer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="social-buttons">
                    <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-btn sb-github sb-sm"><i class="fa fa-github-alt"></i></a>
                    <a href="#" class="social-btn sb-google-plus sb-sm"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="team-member">
                <img class="thumb img-circle" src="~/images/oldman.jpg" alt="Natali Oldman">
                <h4>Natali Oldman</h4>
                <span class="text-muted">Art Director</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="social-buttons">
                    <a href="#" class="social-btn sb-instagram sb-sm"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-btn sb-dribbble sb-sm"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div><!-- Content End -->
</section><!-- Container End -->


