
@{
    ViewBag.Title = "Postproperty";
}


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Post Property in the Largest Real Estate</h2>
            <h4>We Help Your Time work For Your Money</h4>
            <p>
                <a href="http://chohanestate.com/wp-content/uploads/2015/10/post_a_property_chohanestae.jpg"><img src="http://chohanestate.com/wp-content/uploads/2015/10/post_a_property_chohanestae.jpg" alt="post_a_property_chohanestae" class="alignnone size-full wp-image-9495" srcset="http://chohanestate.com/wp-content/uploads/2015/10/post_a_property_chohanestae.jpg 990w, http://chohanestate.com/wp-content/uploads/2015/10/post_a_property_chohanestae-300x78.jpg 300w, http://chohanestate.com/wp-content/uploads/2015/10/post_a_property_chohanestae-958x251.jpg 958w" sizes="(max-width: 990px) 100vw, 990px" /></a>
            </p>
            <h4>Property Details</h4>
            <div class="wpcf7" id="wpcf7-f9183-p9344-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form name="" action="/post-property-2/#wpcf7-f9183-p9344-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="9183" />
                        <input type="hidden" name="_wpcf7_version" value="4.1.1" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f9183-p9344-o1" />
                        <input type="hidden" name="_wpnonce" value="dbabd527e4" />
                    </div>
                    <p>
                        <strong>Your Name </strong>(required)<br />
                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>Your Email</strong> (required)<br />
                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>Your phone No.</strong>(required)<br />
                        <span class="wpcf7-form-control-wrap text-502"><input type="text" name="text-502" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>City</strong><br />
                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>Locality</strong> (Area, Block/Phase, plot/House No.)<br />
                        <span class="wpcf7-form-control-wrap text-158"><input type="text" name="text-158" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>Property Type</strong><br /><br />
                        <span class="wpcf7-form-control-wrap menu-914"><select name="menu-914" class="wpcf7-form-control wpcf7-select" aria-invalid="false"><option value="House">House</option><option value="Plot">Plot</option><option value="Shop">Shop</option><option value="Office">Office</option><option value="Other">Other</option></select></span>
                    </p>
                    <p>
                        Select One<br /><br />
                        <span class="wpcf7-form-control-wrap Areyouwant"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first"><input type="checkbox" name="Areyouwant[]" value="Sell Out" />&nbsp;<span class="wpcf7-list-item-label">Sell Out</span></span><span class="wpcf7-list-item last"><input type="checkbox" name="Areyouwant[]" value="Rent Out" />&nbsp;<span class="wpcf7-list-item-label">Rent Out</span></span></span></span>
                    </p>
                    <p>
                        <strong>Property Size</strong> in ("sq-ft", "Marla", "kanal") <br /><br />
                        <span class="wpcf7-form-control-wrap Area"><textarea name="Area" cols="5" rows="1" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                    </p>
                    <p>
                        <strong>Asking Price:</strong><br />
                        <span class="wpcf7-form-control-wrap text-440"><input type="text" name="text-440" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                    </p>
                    <p>
                        <strong>property features</strong><br /><br />
                        <span class="wpcf7-form-control-wrap textarea-344"><textarea name="textarea-344" cols="30" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea></span>
                    </p>
                    <p><span class="wpcf7-form-control-wrap file-963"><input type="file" name="file-963" value="1" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false" /></span></p>
                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
            </div>
        </div>
    </div>
