
@*@{
    ViewBag.Title = "Blog";
}*@

<html>
<head>

    <link href="~/css/blog_style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container">
        <div class="Post_Container">
            <div class="Post_Detail">
                <ul>
                    <li>
                        <img src="~/images/date.png" />&nbsp;&nbsp;
                        <b>Posted:</b>&nbsp; 27 October 2016

                    </li>

                    <li>
                        <img src="~/images/post-in.png" />&nbsp;&nbsp;
                        <a href="#">Comments</a>

                    </li>

                    <li>
                        <img src="~/images/admin.png" />&nbsp;&nbsp;
                        Posted by <b>Imran</b>

                    </li>

                </ul>

                <!--Post Detail Container End Here-->
            </div>

            <a href="#"><h3>Strike Against ILLEGEL TEXT OF Governament</h3></a>
            <img src="~/images/h1.jpg" width="750" height="400" />

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
                mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                eu, consequat vitae, eleifend ac, enim. Aliquam lorem

            </p>
            <input type="Button" value="Read More" id="button1">

            <div style="clear:both;"></div>
            <!--Post Container is Ending Here-->
        </div>


        <!--Side Bar Start From Here-->
        <div class="sidebar">
            <div class="Recent_Post">
                <b>Recent Post</b>
                <!--RecenT pOST Ending Here-->
            </div>

            <div class="Post">


                <ul>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>

                </ul>




                <!-- Post Heading Ends Here-->
            </div>

            <div class="Recent_Post">
                <b>Popular Post</b>
                <!--RecenT pOST Ending Here-->
            </div>

            <div class="Post">


                <ul>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>
                    <li><a href="#">Strike Against taxes of Governament</a></li>

                </ul>




                <!-- Post Heading Ends Here-->
            </div>

            <!--Side Bar ends Here-->
        </div>


        <!--Side Bar ENDS HERE--->








        <div style="clear:both;"></div>
        <!--Main Container of the Page is Ending Here-->
    </div>
</body>



</html>

